body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #d2d2d2;
}

.ofs-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

/***** SIDE NAV *****/

.sidenav {
  background: #7d7d7d;
  border-right: 1px solid #e3e3e3;
  width: 130px;
  -ms-flex: 0 100px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;  
}

.sidenav-ul {
  list-style-type: none;
  /* font-size: 36px; */
  margin-top: 55px;
  padding-left: 13px;
}

.sidenav-ul li {
  padding-bottom: 30px;
}

.sidenav-ul li a {
  color: white;
}

/***** END OF SIDENAV *****/

.content {
  /* background: #E3E3E3; */
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;  
}

.text-align-right {
  text-align: right;
}

.tile-area .tile-area-title {
  position: fixed;
  top: 30px;
  left: 170px;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1;
}

.tile-area {
  padding-top: 100px;
}

.tile-area-controls {
  position:fixed;
  right: 40px;
  top: 30px;
}

.alert-message {
  position:fixed;
  left:650px;
}

.login-logo {
  position: fixed;
  margin-top: -12.999rem;
  top: 40%;
  left: 43%;
  width: 200px;
}
/*.login-descriptive {
  position: fixed;
  margin-top: -12.999rem;
  top: 103%;
  left: 35%;
}
.login-title {
  position: fixed;
  margin-top: -12.999rem;
  top: 48%;
  left: 41%;
  font-size: 30px;"
}

.login-form {
    width: 25rem;
    height: 14.75rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 35%;
    background-color: #dcdcdc;
    opacity: 0.7;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.vertical-menu {
  width: 90px; 
  font-size: 12px; 
  height: 117vh; 
  background-color: #7d7d7d;
}*/

.tile-common {
    border: 1px solid #999999;
    background-color: #dcdcdc;
}


/* @media screen and (max-width: 640px) { */
/*     .tile-area { */
/*         overflow-y: scroll; */
/*     } */
/*     .tile-area-controls { */
/*         display: none; */
/*     } */
/* } */
/*  */
/* @media screen and (max-width: 320px) { */
/*     .tile-area { */
/*         overflow-y: scroll; */
/*     } */
/*  */
/*     .tile-area-controls { */
/*         display: none; */
/*     } */
/* } */

.table-report-simple tbody tr td {
    padding: 9px 0 9px 0;
    font-size: 12px;
}

.table-report tbody tr td {
    padding: 5px 0 5px 0;
    font-size: 12px;
}

.input-report {
    width: 100px;
    height: 22px;
    text-align: right;
    padding-right: 5px;
    margin-right: 10px;
}

.td-report-simple {
    width: 90px;
    text-align: right;
    padding-right: 100px;
}

/* trending chart */
.axis path, .axis line {
    fill: none;
    stroke: #000;
    /* shape-rendering: crispEdges; */
}

.x.axis path {
    /* display: none; */
}

rect.pane {
    opacity: 0;
}

.tick line {
    opacity: 0.2;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
} 

.legend {
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
}

#legends {
    width: 1000px;
    margin-top: 20px;
    font-size: 12px;
}

.tr-legends {
    /* margin-bottom: 10px; */
}

.td-legends {
    width: 300px;
    padding-bottom: 10px;
}

.chart-container {
    margin-top: 15px;
}

trending-chart {
    clear: both;
}

/* TABLE. FIXED HEADER. SCROLLABLE */
/* http://codepen.io/tjvantoll/pen/JEKIu */
.fixed_headers {
  width: 750px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 0px;
}
.fixed_headers th {
  /* text-decoration: underline; */
}
.fixed_headers th,
.fixed_headers td {
  /* padding: 5px; */
  /* text-align: left; */
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 120px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 100px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
  min-width: 225px;
}
.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
  width: 400px;
}
.fixed_headers thead {
  /* background-color: #333333; */
  color: #fdfdfd;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 528px;
}
.fixed_headers tbody tr:nth-child(even) {
  /* background-color: #dddddd; */
}
.fixed_headers tbody tr {
  background-color: #eeeeee;
}
.old_ie_wrapper {
  height: 550px;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}
.old_ie_wrapper tbody {
  height: auto;
}

/***** SPINNER.CSS *****/

/** for pages that don't load angular but have angular templates in them. **/
.[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.spinner {
  display:inline-block;
  border-radius: 50px;
  border-style: solid;
  border-bottom-color: #3b5641;
  border-top-color: #67b3a9;
  border-left-color: #df7950;
  border-right-color: #decb3f;
  text-align: center;
  vertical-align: middle;
  position: relative;
  animation: rotate360 1s linear infinite;
  -webkit-animation: rotate360 1s linear infinite;
  border-width: 4px;
  width: 24px;
  height: 24px;
}

/***** END OF SPINNER.CSS *****/
