<div class="tile-area" style="width:1774px;">
  <h1>Well Overview</h1>
  <div class="tile-group double">
    <div class="tile-group-title">ST. PLANT</div>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-gray"></a>
    <a class="tile half bg-gray"></a>
    <a class="tile half bg-black"></a>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-yellow"></a>
    <a class="tile half bg-green"></a>
  </div>
  
  <div class="tile-group double">
    <div class="tile-group-title">ST. PLANT</div>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-black"></a>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-red"></a>
    <a class="tile half bg-yellow"></a>
    <a class="tile half bg-gray"></a>
    <a class="tile half bg-yellow"></a>
  </div>
  
  <div class="tile-group double">
    <div class="tile-group-title">ST. PLANT</div>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-green"></a>
    <a class="tile half bg-black"></a>
    <a class="tile half bg-yellow"></a>
  </div>
</div>
