<div class="content">
  <div class="tile-area" style="width: {{widthScreen}}px;">
    <div class="tile-area-title">Substation Overview</div>
    <div ng-include="'views/top-nav.html'"></div>

    <div class="tile-group" ng-repeat="group in groups" data-role="tile" style="">
      <div class="tile-container">
        <div ng-repeat="well in group.plants">
          <div class="label" style="font-size: 12px;">{{w.Name}}</div>
          <div ng-repeat="w in well.Substations">
            <a class="tile" href="{{w.Url}}" data-click="transform" data-role="tile" style="background-color: {{w.Status}}; width: 100px; height: 100px;">
            <div class="tile-content">
              <span class="tile-badge bg-red fg-white">{{w.AlarmCount}}</span>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="tile-group triple" data-role="tile" style="margin-right: 20px;">
      <span class="tile-group-title fg-black">UNIT LOCATION</span>
      <div class="tile-container">
        <div id='map-div' style="background-color: #eeeeee; width:500px; height:575px; border: 1px solid #999999">
          <microsoft-maps></microsoft-maps>
        </div>
      </div>
    </div>
    
    <div ng-include="'views/alarm.html'"></div>
  </div>
</div>
