<span>{{count()}}</span>
<br>
<div ng-include="'views/alert.html'"></div>
<h2 style="padding-left: 20px; margin-left: 90px;">{{Name}}</h2>

<div class="tile-group triple">
  <div class="tile-container">
    <div class="tile-big bg-grayLighter fg-white" data-role="tile">
      <div class="tile-content">
        <!-- <svg height="2000" width="500">
          <line x1="430" y1="200" x2="30" y2="200" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="30" y1="200" x2="30" y2="250" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="30" y1="400" x2="30" y2="280" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="225" y1="200" x2="225" y2="120" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="225" y1="20" x2="225" y2="90" style="stroke:rgb(0,0,0);stroke-width:1`" />
        </svg> -->
        <img src="images/substation.svg"/>
      </div>
    </div>
  </div>
</div>

<div ng-hide="isLoaded">
  <div class="tile-group" style="margin-left: 10px; margin-top: 5px;">
    <div class="tile-container" style="background-color: #eeeeee; border: 1px solid #999999; width: 250px; height: 250px;">
      <div style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%)">
        <!-- empty -->
      </div>
    </div>
  </div>
</div>

<div ng-show="isLoaded">
  <div class="tile-group double" ng-repeat="group in groups" data-role="tile" style="">
    <span class="tile-group-title fg-black" ng-show="group.isFirstGroup">EQUIPMENT LIST</span>
    <!-- <span class=fg-cyan ng-repeat="alert in alert" style="margin-left: 5px; font-size: 10px;">{{alert.msg}}</span>
    {{spinData}} -->

    <span class="mif-spinner2 mif-ani-spin" ng-show="prograssing"></span>
      <div class="tile-container" ng-repeat="u in group.plants" style="margin-left: -20px;">
        <span style="font-size: 12px;">{{u.Name}}</span>
        <div ng-repeat="sub in u.SubstationUnits">
          <a class="tile-small" href="{{sub.Url}}" data-click="transform" data-role="tile" style="background-color: {{sub.Status}}">
            <div class="tile-content">
              <span class="tile-label fg-white" style="font-size: 12px;">{{sub.Name}}</span>
            </div>
          </a>
        </div>
      </div>
  </div>
</div>

<div ng-include="'views/alarm.html'"></div>
