<div ng-controller="SirkuitCtrl">
<div class="tile-group triple" style="width: 800px;">
  <div class="tile-container">
    <div class="tile-big bg-grayLighter fg-white" style="width: 600px; height: 600px;">
      <div class="tile-content">
        <!-- <svg height="2000" width="500">
          <line x1="430" y1="200" x2="30" y2="200" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="30" y1="200" x2="30" y2="250" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="30" y1="400" x2="30" y2="280" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="225" y1="200" x2="225" y2="120" style="stroke:rgb(0,0,0);stroke-width:1" />
          <line x1="225" y1="20" x2="225" y2="90" style="stroke:rgb(0,0,0);stroke-width:1`" />
        </svg> -->
       <!--  <img src="images/substation.svg"/> -->
       <canvas virgen-processing="sketch" style="width: 600px; height: 600px;"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
