<h2 style="padding-left: 20px;">Well Overview</h2>

<div class="tile-group double" ng-repeat="group in groups" data-role="tile" style="padding-top: 10px;">
  <div class="tile-container" style="margin-left: -50px;">
    
    <div ng-repeat="well in group">
      <div class="label">{{well.Name}}</div>
      <div ng-repeat="w in well.OilWells">
        <a class="tile-small" href="#/{{w.DetailUrl}}/{{w.UnitId}}" data-click="transform" data-role="tile" style="background-color: {{w.Status}};">
          <div class="tile-content fg-black">
            <span class="tile-label" style="font-size: 12px; margin-left: 5px;">{{w.Name}}</span>
          </div>
        </a>
      </div>
      <div class="label" style="margin-bottom: 15px; margin-left: 5px; font-size: 12px;">bopd {{}}/ brl {{}}</div>
    </div>
  </div>
</div>
<span>{{count()}}</span>

<div class="label">UNIT LOCATION</div>
  <div class="tile-group triple">
    <div class="tile-container">
      <div class="tile-big fg-white" style="background-color: #d2d2d2" data-role="tile" style="margin-top: -30px; height: 570px;">
       
      </div>
    </div>
  </div>

<div class="tile-group">
  <span class="tile-group-title fg-black">ACTIVE ALARM</span>
  <div class="tile-container">
    <table class="table striped hovered cell-hovered border bordered" style="width: 750px;">
      <thead>
        <tr>
          <th style="width: 110px;">Date</th>
          <th style="width: 110px;">Time</th>
          <th style="width: 160px;">Equipment</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody ng-repeat="act in eventsAlarm">
        <tr>
          <td>{{act.Date}}</td>
          <td>{{act.Time}}</td>
          <td>{{act.Equipment}}</td>
          <td>{{act.Message}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="tile-group">
  <span class="tile-group-title fg-black">HISTORICAL ALARM</span>
  <div class="tile-container">
    <span style="padding-left: 30px;">START</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="start">
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div>

    <span style="padding-left: 30px;">END</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="end">
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div> 

    <button class="button rounded primary" style="margin-left: 30px;" ng-click="filterAlarm(start, end)">LOAD</button>

    <table class="table striped hovered cell-hovered border bordered" style="width: 750px;">
      <thead>
        <tr>
          <th style="width: 110px;">Date</th>
          <th style="width: 110px;">Time</th>
          <th style="width: 160px;">Equipment</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody ng-repeat="hst in eventsHistoric">
        <tr>
          <td>{{hst.Date}}</td>
          <td>{{hst.Time}}</td>
          <td>{{hst.Equipment}}</td>
          <td>{{hst.Message}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-init="GetMap()">
  <div id='mapDiv' style="width:600px; height:500px;"></div>
</div>