<span>{{count()}}</span>
<br>
<div ng-include="'views/alert.html'"></div>
<h2 style="padding-left: 20px; margin-left: 90px;">ESP-{{UnitId}}</h2>

<div class="tile-group triple">
  <div class="tile-container tile-common">
    <div class="" style="background-color: #dcdcdc; margin: 0; width: 478px; height: 600px;">

      <table class="table hovered border bordered fg-black" style="background-color: #d2d2d2; margin-left: 10px; width: 223px; font-size: 10px; float: left;"> 
        <thead>
          <tr>
            <th colspan="2">WELLHEAD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Casing Pressure(br)</td>
            <td class="bg-grayLighter text-align-right">{{dataId.CasingHeadPressureBar}}</td>
          </tr>
          <tr>
            <td>Tubing Pressure(br)</td>
            <td class="bg-grayLighter text-align-right">{{dataId.TubingHeadPressureBar}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table hovered border bordered fg-black" style="background-color: #d2d2d2; margin-right: 10px; width: 223px; font-size: 10px; float: right">
        <thead>
          <tr>
            <th colspan="2">INFERRED PROD.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Rate(BPD)</td>
            <td class="bg-grayLighter text-align-right">a</td>
          </tr>
          <tr>
            <td>Total(barrel)</td>
            <td class="bg-grayLighter text-align-right">a</td>
          </tr>
        </tbody>
      </table>

      <div class="image-container" style="height: 300px; width: 194px; margin-top: 30px; margin-left: 20px; margin-bottom: 10px; float: left;">
        <img src="images/EquView_ESP.png"/>
      </div>

      <table class="table hovered border bordered fg-black" style="background-color: #d2d2d2; width: 10px; margin-left: 31px; margin-top: 0px; font-size: 10px; float: left;" >
        <thead>
          <tr>
            <th colspan="2">VOLTAGE(V)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AVG</td>
            <td class="bg-grayLighter text-align-right">{{dataId.VoltageAverage}}</td>
          </tr>
          <tr>
            <td>R</td>
            <td class="bg-grayLighter text-align-right">{{dataId.VoltageR}}</td>
          </tr>
          <tr>
            <td>S</td>
            <td class="bg-grayLighter text-align-right">{{dataId.VoltageS}}</td>
          </tr>
          <tr>
            <td>T</td>
            <td class="bg-grayLighter text-align-right">{{dataId.VoltageT}}</td>
          </tr>
          <tr>
            <td>UB</td>
            <td class="bg-grayLighter text-align-right">{{dataId.VoltageUnbalance}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table hovered border bordered fg-black" style="background-color: #d2d2d2; width: 10px; margin-right: 10px; margin-top: 0px; font-size: 10px; float: right;">
        <thead>
          <tr>
            <th colspan="2">CURRENT(A)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AVG</td>
            <td class="bg-grayLighter text-align-right">{{dataId.CurrentAverage}}</td>
          </tr>
          <tr>
            <td>R</td>
            <td class="bg-grayLighter text-align-right">{{dataId.CurrentR}}</td>
          </tr>
          <tr>
            <td>S</td>
            <td class="bg-grayLighter text-align-right" class="bg-grayLighter text-align-right">{{dataId.CurrentS}}</td>
          </tr>
          <tr>
            <td>T</td>
            <td class="bg-grayLighter text-align-right">{{dataId.CurrentT}}</td>
          </tr>
          <tr>
            <td>UB</td>
            <td class="bg-grayLighter text-align-right">{{dataId.CurrentUnbalance}}</td>
          </tr>
        </tbody>
      </table>


      <table class="table hovered border bordered fg-black" style="background-color: #d2d2d2; width: 223px; margin-top: 0px; margin-right: 10px; font-size: 10px; float: right;">
        <thead>
          <tr>
            <th colspan="2">STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>VFD STATUS</td>
            <td class="fg-black" style="background-color: {{dataId.Validity}}">{{dataId.VSDStatusMessage}}</td>
          </tr>
          <tr>
            <td colspan="2"><input type="text" style="width: 100px;"></td>
          </tr>
        </tbody>
      </table>

      <div style="clear:both; background-color: green">
      <table class="table hovered border bordered fg-black" style="background-color: #d2d2d2; width: 223px; margin-top: 0px; margin-left: 10px; font-size: 10px; float: left;">
        <thead>
          <tr>
            <th colspan="2">PUMP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Intake Pressure(bar)</td>
            <td class="bg-grayLighter text-align-right">{{dataId.PumpIntakePressureBar}}</td></td>
          </tr>
          <tr>
            <td>Est. Liquid Level(m)</td>
            <td class="bg-grayLighter text-align-right">a</td>
          </tr>
        </tbody>
      </table>

      <table class="table hovered border bordered fg-black" style="background-color: #d2d2d2; width: 223px; margin-top: 0px; margin-right: 10px; font-size: 10px; float: right;">
        <thead>
          <tr>
            <th colspan="4">MOTOR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Frequency(Hz)</td>
            <td colspan="3" class="bg-grayLighter text-align-right">{{dataId.VSDFrequency}}</td>
          </tr>
          <tr>
            <td>Power(kW)</td>
            <td colspan="3" class="bg-grayLighter text-align-right">{{dataId.OutputPower}}</td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>
  </div>
</div>


<div class="tile-group double" style="margin-left: 170px; margin-top: -20px;">
  <span class="tile-group-title fg-black">
    FR604-ESP Monitoring Report <span class="mif-spinner2 mif-ani-spin" ng-show="prograssing"></span>
  </span>
    <div class="tile-container">
      <span style="margin-left: 30px; width: 120px; font-size: 14px; text-align: center; color: {{dataId.Validity}};">{{dataId.TimeStamp}}</span>
      {{spinData}}
      
        <table class="table hovered fg-black table-report">
          <tbody>
            <tr>
              <td style="width: 120px; font-size: 10px;">Contactor Status</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.ContactorStatus}}" class="input-report" readonly></td>
              <td></td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">VFD Status</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.VSDStatus}}" class="input-report" readonly></td>
              <td></td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">VFD Frequency</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.VSDFrequency}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">Hz</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Output Power</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.OutputPower}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">kW</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Voltage Average</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.VoltageAverage}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">V</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Voltage R</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.VoltageR}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">V</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Voltage S</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.VoltageS}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">V</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Voltage T</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.VoltageT}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">V</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Voltage Unbalan.</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.VoltageUnbalance}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">%</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Current Average</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.CurrentAverage}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">A</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Current R</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.CurrentR}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">A</td>
            </tr>
             <tr>
              <td style="width: 120px; font-size: 10px;">Current S</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.CurrentS}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">A</td>    
            </tr>
             <tr>
              <td style="width: 120px; font-size: 10px;">Current T</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.CurrentT}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">A</td>    
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Current Unbalan.</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.CurrentUnbalance}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">%</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Pump In Press.</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.PumpIntakePressureBar}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">bar</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Est. Liquid Level</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">m</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Casing head Press.</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.CasingHeadPressureBar}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">bar</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Tubing head Press.</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.TubingHeadPressureBar}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">bar</td>
            </tr>
            <tr>
              <td style="width: 120px; font-size: 10px;">Inferred Prod.</td>
              <td style="width: 120px; font-size: 10px;"><input type="text" value="{{dataId.EstProdRateBPH}}" class="input-report" readonly></td>
              <td style="width: 120px; font-size: 10px;">bph</td>
            </tr>
          </tbody>
        </table>  
    </div>
</div>

<div class="tile-group">
  <span class="tile-group-title fg-black">TRENDING</span>
  <div class="tile-container">
    <span style="padding-left: 30px;">START</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="startTrend" />
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div>

    <span style="padding-left: 30px;">END</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="endTrend">
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div> 

    <button class="button rounded primary" style="margin-left: 30px;" ng-click="filterTrending(startTrend, endTrend)">LOAD</button>

    <div class="chart-container">
      <trending-chart val="dataTrend"></trending-chart>
      <div id="legends"></div>
    </div>
  </div>
</div>

<div ng-include="'views/alarm.html'"></div>
