<div class="main-menu-wrapper">
  <ul class="horizontal-menu nlm">
    <li class = "fg-white"><a href="#">WELL OVERVIEW</a></li>
    <li class="place-right fg-white">
        <a href="#">WELL EVENTS</a>
    </li>
</ul>
</div>

<div class="main-content clearfix">
  <div class="tile-area no-padding clearfix">
    <div class="tile-group no-margin no-padding clearfix" style="width: 100%;">
      <div class="bg-white ol-transparent" id="scrollbox" data-role="scrollbox" data-scroll="vertical" style="float: right; width: 600px; height: 455px">
        <div class="text-justify tile-content fg-black" style="right: 10px">
            <p>{{totalEvent.message}}</p>
        </div>
    </div>
    <div class= "tile-group double" ng-hide = "checked" >
        <div class="tile-group-title">
            {{totalWells.name}} &nbsp;&nbsp;&nbsp;
            <a class = "fg-white" style = "font-size: 13px;">
                {{totalWells.bopd}} bopd,
                {{totalWells.brl}} brl
            </a>
        </div>
        <div ng-repeat="w in totalWells.wells">
            <div class = "tile half bg-blue" data-click="transform">
             <svg height="100" width="100">
                    <a href="#"><circle cx="27.5" cy="27.5" r="{{ w.size }}" fill="{{w.status}}"/></a>
             </svg>
                <div class="brand">
                    <div class="badge" style ="font-size: 10px;">
                        {{w.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> <!-- End of tiles -->
</div>

    <div>
    <div style="position: fixed; bottom: 0;">
        <h1 class="fg-orange">{{result.total}}</h1>
        TOTAL WELLS
    </div>
    <div style="position: fixed; bottom: 0; left: 200px">
        <h1 class="fg-darkGreen">{{result.green}}</h1>
        <a href="#" class="fg-darkGreen" ng-click="isGreen = !isGreen">GREEN</a> 
    </div>
    <div style="position: fixed; bottom: 0; left: 300px">
        <h1 class="fg-yellow">{{result.yellow}}</h1>
        <a href="#" class="fg-yellow" ng-click="isYellow = !isYellow">YELLOW</a>
    </div>
    <div style="position: fixed; bottom: 0; left: 400px">
        <h1 class="fg-black">{{result.black}}</h1>
        <a href="#" class="fg-black" ng-click="isBlack = !isBlack">BLACK</a>
    </div>
    <div style="position: fixed; bottom: 0; left: 500px">
        <h1 class="fg-gray">{{result.gray}}</h1>
        <a href="#" class="fg-gray" ng-click="isGray = !isGray">GRAY</a>
    </div>
    <div style="position: fixed; bottom: 0; left: 600px">
        <h1 class="fg-darkRed">{{result.red}}</h1>
        <a class="fg-darkRed" ng-click="isRed = !isRed">RED</a>
    </div>
     <div>
        <div ng-show="checked">
            lorem ipsum
        </div>
    </div>
    </div>
   
    <!-- end -->
</div>
<script src="bower_components/metro-ui-css/js/metro-scroll.js"></script>
<script src="bower_components/metro-ui-css/js/metro-drag-tile.js"></script>