<h2 style="padding-left: 20px;">SRP-{{UnitId}}</h2>
<!-- <span>{{count()}}</span> -->
<div class="tile-group triple">
  <div class="tile-container">
    <div class="tile-big bg-grayLight fg-white" data-role="tile" style="margin-top: -30px; height: 570px;">

      <table class="table hovered fg-black" style="background-color: #d2d2d2; margin-left: 20px; margin-top: 10px; width: 50px; height: 50px; font-size: 10px;" >
          <thead>
          <tr>
            <th colspan="2">MOTOR STATUS</th>
          </tr>
        </thead>
        <tbody>
            <td>Status</td>
            <td colspan="3"><input type="text" value="{{dataId.FR601_ContactorStatus}}" style="width: 100px;"></td>
          </tr>
          <tr>
            <td>Voltage(V)</td>
            <td>{{dataId.VoltageAverage}}</td>
            <td>{{dataId.VoltageMax}}</td>
            <td>{{dataId.VoltageMin}}</td>
          </tr>
          <tr>
            <td>Current(A)</td>
            <td>{{dataId.CurrentAverage}}</td>
            <td>{{dataId.CurrentMax}}</td>
            <td>{{dataId.CurrentMin}}</td>
          </tr>
        </tbody>
      </table>

      <div class="image-container" style="margin-left: 50px; margin-top: -10px;">
          <img src="images/EquView_SRP.png"/>
      </div>

      <table class="table hovered fg-black" style="background-color: #d2d2d2; margin-left: 20px; margin-top: -75px; width: 50px; height: 0px; font-size: 10px;" >
        <thead>
          <tr>
            <th colspan="2">PUMP STROKE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Speed(rpm)</td>
            <td colspan="2">a</td>
          </tr>
          <tr>
            <td>Fillage(%)</td>
            <td colspan="2">a</td>
          </tr>
          <tr>
            <td>Cycle CTR</td>
            <td colspan="2">{{dataId.CycleCounter}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table hovered fg-black" style="background-color: #d2d2d2; margin-left: 330px; margin-top: -300px; width: 50px; height: 0px; font-size: 10px;" >
        <thead>
          <tr>
            <th colspan="2">INFERRED PROD.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Rate(BPD)</td>
            <td colspan="2">a</td>
          </tr>
          <tr>
            <td>Total(barrel)</td>
            <td colspan="2">a</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="tile-group double">
  <span class="tile-group-title fg-black">FR601-SRP Monitoring Report</span>
    <div class="tile-container">
      <span style="width: 120px;">{{dataId.FR601_TimeStamp}}</span>   
      <table class="table hovered fg-black table-report-simple">
        <tbody>
          <tr>
            <td style="width: 90px;">Motor Status</td>
            <td class="td-report-simple" style="padding-right: 20px;">{{dataId.FR601_ContactorStatus}}</td>
            <td>A</td>
          </tr>
          <tr>
            <td>SPM</td>
            <td class="td-report-simple" style="padding-right: 20px;">{{dataId.SPM}}</td>
            <td>%</td>
          </tr>
          <tr>
            <td>PPRL</td>
            <td class="td-report-simple" style="padding-right: 20px;">{{dataId.PPRL}}</td>
            <td>kg/m2</td>
          </tr>
          <tr>
            <td>MPRL</td>
            <td class="td-report-simple" style="padding-right: 20px;">{{dataId.MPRL}}</td>
            <td>kg/m2</td>
          </tr>
          <tr>
            <td>PumpFillage</td>
            <td class="td-report-simple" style="padding-right: 20px;">{{dataId.PumpFillage}}</td>
            <td>kg/m2</td>
          </tr>
          <tr>
            <td>Cycle Counter</td> 
            <td class="td-report-simple" style="padding-right: 20px;">{{dataId.CycleCounter}}</td>
            <td></td>
          </tr>
          <tr>
            <td>inferred Prod</td>
            <td class="td-report-simple" style="padding-right: 20px;">{{dataId.FR601_EstProdRateBPH}}</td>
            <td>bph</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>


<div class="tile-group double">
  <span class="tile-group-title fg-black">FR602-SRP PM Report</span>
    <div class="tile-container">
    <span style="margin-left: 25px; width: 120px; font-size: 14px; text-align: center; color: {{dataId.FR602_Validity}};">{{dataId.FR602_TimeStamp}}</span>   
        <table class="table hovered fg-black table-report">
          <tbody>
            <tr>
              <td style="width: 120px;">Motor Status</td>
              <td style="width: 90px;"><input type="text" value="{{dataId.PMStatus}}" class="input-report" readonly></td>
            </tr>
            <tr>
              <td>Voltage Average</td>
              <td><input type="text" value="{{dataId.VoltageAverage}}" class="input-report" readonly></td>
              <td>V</td>
            </tr>
            <tr>
              <td>Voltage Max</td>
              <td><input type="text" value="{{dataId.VoltageMax}}" class="input-report" readonly></td>
              <td>V</td>
            </tr>
            <tr>
              <td>Voltage Min</td>
              <td><input type="text" value="{{dataId.VoltageMin}}" class="input-report" readonly></td>
              <td>V</td>
            </tr>
            <tr>
              <td>Voltage Unbalan.</td>
              <td><input type="text" value="{{dataId.VoltageUnbalance}}" class="input-report" readonly></td>
              <td>%</td>
            </tr>
            <tr>
              <td>Current Average</td>
              <td><input type="text" value="{{dataId.CurrentAverage}}" class="input-report" readonly></td>
              <td>A</td>
            </tr>
            <tr>
              <td>Current Min</td>
              <td><input type="text" value="{{dataId.CurrentMin}}" class="input-report" readonly></td>
              <td>A</td>
            </tr>
             <tr>
              <td>Current Max</td>
              <td><input type="text" value="{{dataId.CurrentMax}}" class="input-report" readonly></td>
              <td>A</td>    
            </tr>
            <tr>
              <td>Current Unbalan.</td>
              <td><input type="text" value="{{dataId.CurrentUnbalance}}" class="input-report" readonly></td>
              <td>%</td>
            </tr>
            <tr>
              <td>Power Average</td>
              <td><input type="text" value="{{dataId.PowerAverage}}" class="input-report" readonly></td>
              <td>kW</td>
            </tr>
            <tr>
              <td>Power Max</td>
              <td><input type="text" value="{{dataId.PowerMax}}" class="input-report" readonly></td>
              <td>kW</td>
            </tr>
            <tr>
              <td>Power Min</td>
              <td><input type="text" value="{{dataId.PowerMin}}" class="input-report" readonly></td>
              <td>kW</td>
            </tr>
            <tr>
              <td>Stroke Energy</td>
              <td><input type="text" value="{{dataId.StrokeEnergyWH}}" class="input-report" readonly></td>
              <td>kWh</td>
            </tr>
            <tr>
              <td>Inferred Prod.</td>
              <td><input type="text" value="{{dataId.FR602_EstProdRateBPH}}" class="input-report" readonly></td>
              <td>bph</td>
            </tr>
          </tbody>
        </table>  
    </div>
</div>

<div class="tile-group">
  <span class="tile-group-title fg-black">TRENDING</span>
  <div class="tile-container">
    <span style="padding-left: 30px;">START</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="startTrend" />
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div>

    <span style="padding-left: 30px;">END</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="endTrend">
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div> 

    <button class="button rounded primary" style="margin-left: 30px;" ng-click="filterTrending(startTrend, endTrend)">LOAD</button>

    <div class="chart-container">
      <trending-chart val="dataTrend"></trending-chart>
      <div id="legends"></div>
    </div>
  </div>
</div>

<div class="tile-group">
  <span class="tile-group-title fg-black">ACTIVE ALARM</span>
  <div class="tile-container">
    <table class="table striped hovered cell-hovered border bordered" style="width: 750px;">
      <thead>
        <tr>
          <th style="width: 110px;">Date</th>
          <th style="width: 110px;">Time</th>
          <th style="width: 160px;">Equipment</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody ng-repeat="act in eventsAlarm">
        <tr>
          <td>{{act.Date}}</td>
          <td>{{act.Time}}</td>
          <td>{{act.Equipment}}</td>
          <td>{{act.Message}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="tile-group">
  <span class="tile-group-title fg-black">HISTORICAL ALARM</span>
  <div class="tile-container">
    <span style="padding-left: 30px;">START</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="start" />
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div>

    <span style="padding-left: 30px;">END</span>
    <div class="input-control text" data-role="datepicker" style="margin-left: 10px;">
      <input type="text" ng-model="end">
      <button class="button">
        <span class="mif-calendar"></span>
      </button>
    </div> 

    <button class="button rounded primary" style="margin-left: 30px;" ng-click="filterAlarm(start, end)">LOAD</button>

    <table class="table striped hovered cell-hovered border bordered" style="width: 750px;">
      <thead>
        <tr>
          <th style="width: 110px;">Date</th>
          <th style="width: 110px;">Time</th>
          <th style="width: 160px;">Equipment</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody ng-repeat="hst in eventsHistoric">
        <tr>
          <td>{{hst.Date}}</td>
          <td>{{hst.Time}}</td>
          <td>{{hst.Equipment}}</td>
          <td>{{hst.Message}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
